@import "colors";
@import "fonts";

html, body {
  height: 100%;
}

body {
  font-family: 'Nunito';
  margin: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  color: $medium-grey;
  font-weight: 400;
}

p {
  color: $medium-grey;
}

a {
  color: $light-grey;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: $background-header;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

.inner_header {
  display: flex;
  width: 800px;
  justify-content: space-between;
  align-items: center;
  color: $medium-grey;
}

.inner_header ul {
  list-style: none;
  margin: 0;
}

.inner_header li {
  display: inline;
  font-size: 20px;
  font-weight: 200;
}

.inner_header a {
  padding: 24px;
  color: $medium-grey;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: flex-start;
}

.mark {
  padding-right: 6px;
}

.title {
  padding-right: 6px;
}

.cursor {
  width: 10px;
  height: 20px;
  background-color: #fe5186;
}

.nav {
  display: flex;
  align-items: flex-end;
}

.container {
  display: flex;
  background-color: $background-body;
  flex-grow: 1;
}

.content {
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 50px;
  margin-bottom: 50px;
  color: $medium-grey;
}

.footer {
  width: 100%;
  height: 80px;
  color: $medium-grey;
  background-color: $background-header;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}